.search-box{
    border: none;
    border-bottom: 1px solid var(--trans-gray);
    padding: 0.5rem;
    width: 60%;
    background-color: transparent;
    color: var(--gray);
    font-size: 1rem;
 
}
